{% extends "layout.html" %}

{% block content %}
<body>
	</div>
	  <p style="font-size: 36px;">
	  Terve see sait on satiiriline projekt eesti keele tunni meediaõpetuse raames.<br>
	  Kui keegi tegelikult usub seda, mis saidi artiklites kirjutatud on, siis tunneme toimetusega sügavalt kaasa.<br>
	  Saidil olevad autoripildid on tehtud Stable Diffusioni või DALL·Ega (kui need just isetehtud pole)<br>
	  <br>
	  This whole site is a satirical project for the media course of the estonian class.<br>
	  If anyone sincerely believes what's written in the articles on the site then we're sorry.<br>
	  The author portraits are made with Stable Diffusion or DALL·E (if they're not self-made)<br>
	  </p>
	</div>
</body>
{% endblock %}