<!doctype html>
<title>Mida nad ei taha, et sa teaksid</title>
{% extends "layout.html" %}

{% block content %}
<style>
        body{
 background-image: url('background.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-size: 800px 480px;
 
}
</style>
<body style="background-image: url('{{url_for('static', filename='kvej2.png')}}');'">
    <section id="INFO" class="content">
        </div>
          <p>I was testing</p>
        </div>
    </section>
</body>
{% endblock %}