<link rel="stylesheet" href="/static/css/styles.css">
<head>

</head>
<div id="header" class="header">
  <script src="/static/js/javascript.js"></script>
  <h1>Mida nad ei taha, et sa teaksid</h1>
  <ul>
    <li><a href="/">Avaleht</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Uudised</a>
      <div class="dropdown-content">
        <a href="#">News1</a>
        <a href="#">News2</a>
        <a href="#">News3</a>
      </div>
      <li><a href="/about">Saidist</a></li>
    </li>
  </ul>
</div>



{% block content %}
{% endblock %}