<link rel="stylesheet" href="/static/css/styles.css">
<head>
  <title>Mida nad ei taha, et sa teaksid</title>
</head>
<div id="header" class="header">
  <script src="/static/js/javascript.js"></script>
  <img onclick="window.location='/'" src="/static/logo.png" style="width: 9.5vw; float:left;cursor: pointer;">
  <h1 style="cursor: pointer;" onclick="window.location='/'" >Mida nad ei taha, et sa teaksid</h1>
  <ul class="navbar">
    <li><a href="/">Avaleht</a></li>
    <li class="dropdown">
      <a href="/news" class="dropbtn">Uudised</a>
      <div class="dropdown-content">
        <b style="font-size: 24px;padding:5px;">Tänase päeva kõige kuumemad uudised:</b>
        {% for i in range((headlines|length/2)| int) %}
          {% if i <= 2 %}
            <a href="{{headlines[i*2]}}">{{i+1}}. {{headlines[i*2+1]|safe}}</a>
            {#I trust that the people writing the articles won't abuse this#}
          {% endif %}
        {% endfor %}
      </div>
      <li><a href="/puzzles">Lastele</a></li>
      <li><a href="/about">Saidist</a></li>
    </li>
  </ul>
</div>
{% block content %}
{% endblock %}